@media screen and (max-width: 500px) {
    .logo-burger {
        top: 20px;
        left: 20px;
    }

    .logo-burger img {
        width: 75%;
        height: 75%;
    }

    input ~ nav > ul > li > a {
        font-size: 17px;
        padding: 20px;
    }

    input ~ nav > ul {
        top: 30%;
    }

    input:checked ~ nav {
        height: 35%;
    }

    .text-RD {
        font-size: 30px;
        padding: 15px 0 20px 0px;
    }

    .info-round {
        font-size: 20px;
    }

    .answer {
        font-size: 15px;
    }

    .room-block {
        padding: 15px;
    }

    .round-block button {
        height: 70px;
        width: 250px;
        font-size: 25px;
    }

    .sorry-text {
        padding: 15px 0 30px;
    }

    .rules-block {
        background: #dfdfdf;
        text-align: center;
        padding: 0 10px 70px 10px;
    }

    .rules-block p {
        font-family: "Segoe UI Symbol";
        font-size: 17px;
    }

    .rules-block p:first-child {
        font-size: 27px;
        padding: 20px;

    }
    .contact-block .container{
        flex-direction: column;
        justify-content: center;

    }
    .contact-block .container div{
        width: 80%;
        font-size: 15px;
        margin: 25px 0 0px 0;
    }
    .contact-block .container div p:last-child{
        font-size: 15px;
        padding: 15px 0 15px 0;
    }
    .contact-block ul{
        margin-top: 10px;
    }
    .contact-block ul li{
        padding: 0px 5px 0 0;
    }
}